

#parent{
display: flex;
flex-direction: column-reverse;
flex-wrap: wrap;
align-content: center;
height: 700px;
width: 600px;
border: 5px solid black;
text-align: center;

}
#c1{
    height: 100px;
    width: 100px;
    background-color: aqua;
  margin: 5px;
  flex-grow: 2;
  
}

#c2{
    height: 100px;
    width: 100px;
    background-color:blue;
      margin: 5px;
}

#c3{
 
    height: 100px;
    width: 100px;
    background-color: purple;
      margin: 5px;
}

