body{
   background: radial-gradient(pink,green);
}
#heading{
    display:flex;
    position: relative;

   
    margin-left: 20px;
}
   #text{
    display: flex;
   
    position: relative;
    margin-left: 30px;
    margin-right: 40px;
   } 
 #text2{
    position: relative;
    margin-right: 30%;
 }
   
 #image1{
    position: relative;
    float: right;
    margin-bottom: 70px;
    margin-right: 10%;
  display: inline;
   
 }
 
 #gallary {
  display: grid;
  grid-template-columns: repeat(2, 100px); /* Two columns each with a width of 100px */
  margin-left: 40%;
  margin: 10px;
  grid-template-rows: 1fr;
  gap: 20px;
}


  #gallery1 div {
    display: grid;
    grid-template-rows: repeat(2, 1fr); /* Two rows with equal height */
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    gap: 20px;
  
  }

   #gallery1 img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

   #gallery1 p {
    text-align: center;
    margin: 0; /* Remove default margin */
  }