body{
   background: radial-gradient(green,blue);
    
    
}
#image{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
}