#heading{
    color: aqua;
}
.para{
    font-size: larger;
    font-weight: 900;
}
#test{
    width: 20%;
    background-image: url(../HTML/nature.jpg);
    background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
    color: brown;
    font-style: italic;
    font-family: cursive;
}
#color{
    background-color: blueviolet;
}